footer
  .container.text-center
    p.pull-left © 2017 MAPNA Electric & Control CO. (MECO). All Rights Reserved
    ul.pull-right.list-inline
      li
        a(href='http://mapnagroup.com/en/') MAPNA
      li
        a(href='http://www.mapnaec.com/en/') MECO
      li
        a(href='http://www.mapcs.info/') MAPCS        